<html>
<body>
<form action="/items" method="post">
  <div>
    <label for="dish">Which dish would you like to add to our menu?</label>
    <input type="text" id="dish" />
  </div>
  <div class="button">
    <button type="submit">Add Dish</button>
  </div>
</form>
</body>
</html>



